<!DOCTYPE html>
<html>

<head>
    <title>Thanh lý hợp đồng</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <form action="/hopdongs/thanhly/<%= IDHopDong %>" method="post" name="form1">
        <div class="form-group">
            <label for="">ID Hợp đồng</label>
            <input type="text" class="form-control" name="IDHopDong" id="IDHopDong" value="<%= IDCanHo %>" placeholder="">
          </div>
          <div class="form-group">
            <label for="">Ngày thanh lý</label>
            <input type="text" name="NgayThanhLy" class="form-control" id="NgayThanhLy" value="2020-1-1" placeholder="" >
          </div>
          <div class="form-group">
              <label for="">Ảnh giấy tờ</label>
              <input type="text" class="form-control" name="AnhGiayTo" id="AnhGiayTo" value="" placeholder="">
          </div>
          <div class="form-group">
              <label for="">Ảnh CSVC</label>
              <input type="text" class="form-control" name="AnhCSVC" id="AnhCSVC" value="" placeholder="">
          </div>
          <input type="submit" class="btn btn-primary" value="Thêm">
    </form>

    <!-- <form action="/hopdongs/edit" method="post" name="form1">
        <form method="post" enctype="multipart/form-data" action="/upload">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>
        <form method="post" enctype="multipart/form-data" action="/upload">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>


        <input type="submit" class="btn btn-primary" value="Thêm">
        <a href="/hopdongs" type="submit" class="btn btn-primary">Hủy</a>

    </form> -->
</body>

</html>