<!DOCTYPE html>
<html>

<head>
  <title>Phần mềm quản lý chung cư</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div class="row">
    <div style="margin-top:5rem" class="col-md-6 offset-md-3">
      <h1>Phần mềm quản lý chung cư - AST</h1>
      <a href="/hopdongs" style="width: 40rem; margin-top: 1rem;height: 4rem; font-size:xx-large;" type="button" class="btn btn-primary">Quản lý hợp đồng</a>
      <a href="/canhos" style="width: 40rem;margin-top: 1rem;height: 4rem;font-size:xx-large;" type="button" class="btn btn-warning">Quản lý căn hộ</a>
      <a href="/cudans" style="width: 40rem;margin-top: 1rem;height: 4rem;font-size:xx-large;" type="button" class="btn btn-info">Quản lý cư dân</a>
      <a href="#" style="width: 40rem;margin-top: 1rem;height: 4rem;font-size:xx-large;" type="button" class="btn btn-success">Tính chi phí</a>
      <a href="#" style="width: 40rem;margin-top: 1rem;height: 4rem;font-size:xx-large;" type="button" class="btn btn-secondary">Thông báo cư dân</a>
    </div>
  </div>
</body>

</html>