<!DOCTYPE html>
<html>

<head>
    <title>Thanh lý hợp đồng</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
        <h2>Thanh lý hợp đồng <%=IDHopDong %></h2>
        
        <div class="form-group">
            <label for="">Ảnh giấy tờ</label>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <input type="file" name="myImage">
                <input type="submit" value="Upload">
            </form>
        </div>
        <!-- <div class="form-group">
            <label for="">Ảnh CSVC</label>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
            
        </div> -->
        


        <input type="submit" class="btn btn-primary" value="Thanh lý hợp đồng">
        <a href="/hopdongs" type="submit" class="btn btn-primary">Hủy</a>
</body>

</html>